.profile-wrapper {
  display: flex;
  grid-template-columns: 25% 75%;
}

.profile-left-container {
  margin-right: 35px;
  position: sticky;
  top: 0;
  height: 100vh;
  box-sizing: border-box;
}

.profile-right-container {
  margin-top: 52.5px;
  width: 100%;
  box-sizing: inherit;
}

.ms-Button--primary {
  background-color: #6647ff;
}
