.nav-bar {
  // position: fixed;
  width: 64px;
  height: 100%;
  // top: 61px;
  background-color: #fff;
  // z-index: 4;
  box-shadow: 1px 0 0 0 #f0eff6;
  z-index: 1000;
}

.nav-bar-list {
  list-style-type: none;
  width: 100%;
  height: 100%;
  left: 0;
  padding-left: 24px;
}

.nav-bar-list li {
  padding: 16px 0 16px 0;
  // position: relative;
  // left: -250;
}
