.Navbar {
  background-color: #6647ff;
  z-index: 1000;

  .NavbarContainer {
    height: 100%;
    box-shadow: 1px 0 0 0 #f0eff6;

    .NavbarList {
      list-style-type: none;
      width: 100%;
      height: 100%;
      left: 0;
      padding-top: 12px;
      background-color: #6647ff;
      border-top: 1px solid #fafafc;

      li {
        padding: 12px 24px;

        .Logout {
          cursor: pointer;
        }

        .NavbarTitle {
          padding-left: 24px;
          font-size: 14px;
          font-family: 'Avenir';
          font-weight: 500;
          color: #cac0ff;
        }

        &.active {
          border-left: 2px solid #f0eff6;
          background-color: #5335e7;

          img {
            filter: brightness(100) contrast(100);
          }

          .NavbarTitle {
            color: #f0eff6;
          }
        }
      }
    }
  }

  &:hover {
    .NavbarContainer {
      width: 175px;

      .NavbarTitle {
        display: inline;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .Navbar {
    .NavbarContainer {
      width: 64px;

      .NavbarTitle {
        display: none;
      }

      .UserInfo {
        display: none;
      }

      .MobileViewItem {
        display: none;
      }
    }
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .Navbar {
    .NavbarContainer {
      width: 64px;

      .MobileViewItem {
        display: none;
      }

      .NavbarTitle {
        display: none;
      }

      .UserInfo {
        display: none;
      }
    }
  }
}

@media only screen and (min-height: 676px) and (max-width: 767px) {
  .Navbar {
    .NavbarContainer {
      width: 246px;
      position: fixed;
      display: none;

      .HideNavbar {
        display: none;
      }

      .ShowNavbar {
        display: block;
      }

      .UserInfo {
        display: none;
      }
    }
  }
}

@media only screen and (max-height: 676px) and (max-width: 767px) {
  .NavbarContainer {
    width: 246px;
    position: fixed;
    left: -247px;
    top: 0;

    &[data-navbar='open'] {
      width: 100vw;
    }

    .NavbarItem {
      width: 247px;
      height: 100%;
    }
  }

  .UserInfo {
    background-color: #6647ff;
    height: 135px;
    width: 247px;
    text-align: center;

    .UserAvatar img {
      height: 50px;
      width: 50px;
      border-radius: 50%;
      margin-top: 20px;
      margin-bottom: 4px;
    }

    .UserName {
      font-size: 16px;
      font-weight: 900;
      color: #fff;

      p {
        margin: 0;
      }
    }

    .UserMajor {
      font-size: 12px;
      color: #c7c1e8;
      width: 100%;
    }
  }
}
