.nav-bar {
    position: fixed;
    width: 64px;
    height: 100%;
    top: 64px;
}

.nav-bar-list {
    list-style-type: none;
    width: 100%;
    height: 100%;
    left: 0;
}

.nav-bar-list li {
    padding: 16px 24px 16px 24px;
    

}

.nav-dashboard-btn {
    left: 24px;
    top: 96px;
    position: fixed;
}

.nav-myProfile-btn {
    left: 24px;
    top: 147px;
    position: fixed;

}

.nav-academic-btn {
    left: 24px;
    top: 199px;
    position: fixed;

}

.nav-success-btn {
    left: 24px;
    top: 249px;
    position: fixed;
}