.detail-container {
  padding: 27px 25px 18px 27px;
  position: relative;
  border-bottom: 2px solid #f0eff6;
}

.detail-container h3 {
  max-width: 70%;
  font-size: 16px;
  font-weight: 900;
  color: #413d59;
  word-wrap: break-word;
  display: inline-block;
}

.detail-container h4 {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #c0bece;
  padding: 0;
  margin-bottom: 20px;
  cursor: pointer;
}

.detail-container h4:hover {
  color: #8a85a6;
}

h4 i {
  margin-right: 5px;
}

.align-right {
  position: absolute;
  right: 30px;
  display: inline-block;
}

.sub-checklist-count {
  width: 20px;
  height: 20px;
  background-color: #6647ff;
  color: #fff;
  border-radius: 50%;
  text-align: center;
  font-size: 14px;
  font-weight: 900;
}

.priority {
  width: 59px;
  height: 21px;
  line-height: 21px;
  text-align: center;
  font-size: 12px;
  border-radius: 4px;
  display: inline-block;
  font-weight: 900;
  text-transform: lowercase;
}

.priority::first-letter {
  text-transform: uppercase;
}

.priority-low {
  background-color: #f5f5f5;
  color: #8f8f8f;
}

.priority-medium {
  background-color: rgba(255, 213, 71, 0.15);
  color: #ffaa47;
}

.priority-high {
  background-color: #ffe3e3;
  color: #ff4747;
}
