.Select {
  :global(.ms-Dropdown) {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    height: 36px;
    line-height: 36px;

    :global(.ms-Dropdown-title) {
      border: none;
    }
  }

  :global(.ms-Dropdown:hover) {
    border: 1px solid rgba(0, 0, 0, 0.15);
    border-radius: 0.25rem;
    height: 36px;
    line-height: 36px;

    :global(.ms-Dropdown-title) {
      border: none;
    }
  }
}
