.detail-close {
  width: 100%;
}

.detail-open {
  width: 75%;
}

.priority {
  width: 59px;
  height: 21px;
  line-height: 21px;
  font-size: 12px;
  margin: auto;
  border-radius: 4px;
  text-transform: lowercase;
}

.priority::first-letter {
  text-transform: uppercase;
}

.priority-low {
  background-color: #f5f5f5;
  color: #8f8f8f;
}

.priority-medium {
  background-color: rgba(255, 213, 71, 0.15);
  color: #ffaa47;
}

.priority-high {
  background-color: #ffe3e3;
  color: #ff4747;
}

.complete-rate {
  font-size: 12px;
  font-weight: 900;
  width: 90px;
  height: 30px;
  border-radius: 4px;
  line-height: 30px;
  margin: auto;
}

.complete-rate-not-started {
  background-color: #dedede;
  color: #979797;
}

.complete-rate-done {
  background-color: #cbf6d8;
  color: #5cb977;
}

.complete-rate-due {
  background-color: #f6cbcb;
  color: #b95c5c;
}

div.active {
  color: #413d59;
  font-weight: 900;
  background-color: #f0eff6;
  border-left: 5px solid #6647ff;
}

div.active-sub-checklist {
  background-color: #fff;
  border-left: 5px solid #fff;
}

.checklist-container {
  width: 100%;
}

.checklist {
  display: inline-block;
  box-sizing: border-box;
  padding: 31px 36px;
}

.checklist-search-box {
  position: relative;
}

.checklist-search-box i {
  font-size: 12px;
  color: #8a85a6;
  position: absolute;
  left: 10px;
  top: 10px;
}

.checklist-search-box input {
  width: 311px;
  height: 32px;
  background-color: #f0eff6;
  border: 0;
  box-sizing: border-box;
  padding: 0 10px 0 30px;
  font-size: 12px;
  font-weight: 500;
  color: #8a85a6;
  border-radius: 3px;
}

.checklist-search-box input:focus {
  outline-width: 1px;
}

.checklist-search-box input::placeholder {
  font-size: 12px;
  font-weight: 500;
  color: #8a85a6;
}

.checklist-heading {
  display: grid;
  grid-template-columns: 50px calc(100% - 650px) 150px 150px 150px 150px;
  text-align: center;
  padding-top: 18px;
}

.column-name-sortable {
  cursor: pointer;
}

.checklist-heading i {
  margin-left: 4px;
}

.checklist-heading p {
  display: inline;
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.9px;
  color: #8a85a6;
}

.left-align {
  text-align: left;
  margin-bottom: 2px;
}

.checklist-box {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
}

.checklist-item {
  display: grid;
  grid-template-columns: 50px calc(100% - 650px) 150px 150px 150px 150px;
  align-items: center;
  text-align: center;
  margin-top: 20px;
  height: 64px;
  font-size: 14px;
  font-weight: 900;
  color: #8a85a6;
  border-left: 5px solid #fff;
  cursor: pointer;
}

.checklist-checkbox {
  margin: auto;
}

.sub-checklist-container {
  box-sizing: border-box;
  padding: 32px 74px 32px 29px;
}

.sub-checklist {
  padding: 0 74px 0 24px;
  border-left: 2px solid #f0eff6;
  border-right: 2px solid #f0eff6;
}

.sub-checklist > div {
  display: grid;
  grid-template-columns: 50px calc(100% - 500px) 150px 150px 150px;
  align-items: center;
  text-align: center;
  color: #8a85a6;
  font-weight: 900;
  font-size: 14px;
  height: 50px;
  cursor: pointer;
}

.sub-checklist-active {
  background-color: #f0eff6;
}

.item-due-date-count {
  font-weight: bold;
  color: #ff4747;
}

.item-category {
  margin-bottom: 0px;
}

.item-due-date {
  margin-bottom: 0px;
}

.custom-checkbox {
  display: block;
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.custom-checkbox input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.checkmark {
  position: absolute;
  top: -3px;
  left: 10px;
  height: 15px;
  width: 15px;
  background-color: none;
  border: 2px solid #460080;
  border-radius: 3px;
}

.custom-checkbox input:checked ~ .checkmark {
  background-color: #460080;
}

.checkmark:after {
  content: "";
  position: absolute;
  display: none;
}

.custom-checkbox input:checked ~ .checkmark:after {
  display: block;
}

.custom-checkbox .checkmark:after {
  left: 3px;
  width: 5px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}