.ChangePhoneNumberStep1 {
  padding: 28px;

  :global(.form-group) {
    label {
      font-size: 12px;
      font-weight: 900;
      font-style: normal;
      font-stretch: normal;
      line-height: normal;
      letter-spacing: normal;
      color: #413d59;
      text-align: left;
      width: 100%;
    }
  }

  > div {
    text-align: center;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.71;
    letter-spacing: normal;
    color: #8a85a6;

    &:last-child {
      margin-top: 20px;

      :global(.ms-Button) {
        border: none;
        border-radius: 4px;
        box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
        background-color: #6647ff;
        font-size: 12px;
        font-weight: 900;
        font-style: normal;
        font-stretch: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: center;
        color: #ffffff;
      }
    }
  }
}
