.pending-flag-container {
  width: calc((100% - 64px) / 3);
  height: 112px;
  box-sizing: border-box;
  padding: 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  background-color: #fff;
  border-left: 5px solid #6647ff;
  cursor: pointer;
}

.pending-flag-container:last-child {
  margin-right: 0;
}

.pending-flag-top {
  display: flex;
  justify-content: space-between;

}

.pending-flag-top p {
  margin-bottom: 0;
  font-size: 14px;
  line-height: 24px;
  font-weight: 900;
  color: #8a85a6;
}

.pending-flag-status {
  display: inline-block;
  padding: 3px 13px;
  font-size: 8px;
  font-weight: 900;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #b95c5c;
  background-color: #f6e7cb;
}

.pending-flag-bottom {
  display: flex;
  margin-top: 14px;
  justify-content: space-between;
}

.pending-flag-bottom p {
  margin: 0;
  font-size: 24px;
  line-height: 34px;
  font-weight: 900;
  color: #413d59;
}

.Priority {
  margin: 0;
  padding: 9px 0;
  line-height: 34px;
}
