.pending-flag-container {
  width: 33%;
  height: 112px;
  box-sizing: border-box;
  padding: 16px 20px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  margin-right: 30px;
  margin-bottom: 30px;
  display: inline-block;
  border-left: 5px solid #6647ff;
}

.pending-flag-container:last-child {
  margin-right: 0;
}

.pending-flag-top {
  display: flex;
  justify-content: space-between;
  margin-bottom: 9px;
}

.pending-flag-top p {
  font-size: 14px;
  font-weight: 900;
  color: #8a85a6;
}

.pending-flag-status {
  display: inline-block;
  padding: 3px 13px;
  font-size: 8px;
  font-weight: 900;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;

  color: #b95c5c;
  background-color: #f6e7cb;
}

.pending-flag-bottom {
  display: flex;
  justify-content: space-between;
}

.pending-flag-bottom p {
  font-size: 17px;
  font-weight: 900;
  color: #413d59;
}

.pending-flag-level {
  font-size: 14px;
  font-weight: 900;
  color: #ff4747;
  margin-right: 7px;
}
