.table {
    position: absolute;
    left: 230px;
    right: 266px;
    top: 539px;
    padding: 24.5px 57px 25px 42px;
    background-color: #ffffff;
}

.table-no-info {
    position: absolute;
    left: 230px;
    right: 266px;
    top: 216px;
    padding: 24.5px 57px 25px 42px;
    background-color: #ffffff;
}

.table-header {
    font-size: 14px;
    font-weight: 900;
    color: #413d59;
    display: grid;
    line-height: 51px;
    text-align: center;
    grid-template-columns: 1.5fr .75fr 1fr 1fr 1fr 1fr;
}

.table-row {
    display: grid;
    text-align: center;
    line-height: 51px;
    grid-template-columns: 1.5fr .75fr 1fr 1fr 1fr 1fr;
}

.task {
    font-size: 14px;
    font-weight: 900;
    color: #676289;
}

.number {
    font-size: 14px;
    font-weight: 500;
    color: #8a85a6;
    text-align: center;
}

.type {
    font-size: 14px;
    font-weight: 500;
    color: #8a85a6;
}

.target-date {
    font-size: 14px;
    font-weight: 500;
    color: #8a85a6;
    text-align: center;
}

.progress-bar {
    width: 124px;
    height: 14px;
    border-radius: 7px;
    background-color: #15ce13;
    text-align: right;
    font-size: 12px;
    font-weight: 900;
    color: white;
    margin-top: 20px;
}

.completed {
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    line-height: 30px;
    width: 90px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 900;
    background-color: #cbf6d8;
    color: #5cb977;
}

.in_progress {
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    line-height: 30px;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 900;
    background-color: #f6e7cb;
    color: #b99e5c;
}

.not_started {
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    line-height: 30px;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 900;
    background-color: #dedede;
    color: #979797;
}

.delay {
    text-transform: capitalize;
    margin-top: 10px;
    margin-bottom: 10px;
    margin-left: auto;
    margin-right: auto;
    height: 30px;
    line-height: 30px;
    width: 90px;
    height: 30px;
    border-radius: 4px;
    font-size: 12px;
    font-weight: 900;
    background-color: #f6cbcb;
    color: #b95c5c;
}
