.detail-container {
  padding: 27px 25px 18px 27px;
}

.contact h4 {
  font-size: 12px;
  font-weight: 900;
  letter-spacing: 0.9px;
  color: #c0bece;
  margin-bottom: 20px;
  padding: 0;
}

.detail-group {
  width: 50%;
  display: inline-block;
  margin-bottom: 19px;
  vertical-align: top;
  word-wrap: break-word;
}

.label {
  font-size: 12px;
  font-weight: 900;
  color: #413d59;
}

.value {
  font-size: 14px;
  font-weight: 500;
  color: #8a85a6;
  line-height: 1.64;
}

.detail-group p:empty:before {
  content: '\200b';
}
