.ProfileTabsContainer {
    width: 284px;
    height: 213px;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.07);
    font-size: 15px;
    background-color: #ffffff;
    padding: 31px 0;
}

.AboutTab {
    padding-left: 26px;
    height: 40px;
    line-height: 40px;
    top: 39px;
    font-weight: 900;
    color: #bfbfc3;
}
.AboutTab:hover{
    border-left: 2px solid #6647ff;
    color: #413d59;
    cursor: pointer;
}

.ContactInfoTab {
    padding-left: 28px;
    height: 40px;
    line-height: 40px;
    top: 92px;
    font-weight: 900;
    color: #bfbfc3;

}

.ContactInfoTab:hover{
    border-left: 2px solid #6647ff;
    color: #413d59;
    cursor: pointer;
}


.AddressTab {
    padding-left: 28px;
    height: 40px;
    line-height: 40px;
    top: 145px;
    font-weight: 900;
    color: #bfbfc3;

}

.AddressTab:hover{
    border-left: 2px solid #6647ff;
    color: #413d59;
    cursor: pointer;
}
