.CategoryList {
  width: 160px;

  .ChevronIcon {
    float: right;
    cursor: pointer;
    margin-top: -18px;
  }

  .Category:hover {
    cursor: pointer;
  }

  h3 {
    font-size: 14px;
    font-weight: 900;
    color: #352480;
    margin-top: 30px;
  }

  p {
    font-size: 12px;
    font-weight: 900;
    color: #413d59;
    margin-top: 15px;
    margin-left: 15px;
  }

  .Dot {
    position: absolute;
    height: 10px;
    width: 10px;
    border-radius: 50%;
    margin-top: 3px;
    border: solid 2px;
  }

  .Meeting {
    color: #ff6e6e;

    &.Active {
      background-color: #ff6e6e;
    }
  }

  .Classes {
    color: #8a85a6;

    &.Active {
      background-color: #8a85a6;
    }
  }

  .ProgramEvent {
    color: #eaa328;

    &.Active {
      background-color: #eaa328;
    }
  }

  .SchoolEvent {
    color: #7c5615;

    &.Active {
      background-color: #7c5615;
    }
  }

  .Checklist {
    color: #2ed891;

    &.Active {
      background-color: #2ed891;
    }
  }
}
