
.rbc-calendar {
    margin-left: 85px;
}


.rbc-toolbar {
    width: 1108px;
}

.rbc-btn-group {
    
}

.rbc-btn-group button {
    background-color: #f9f9f9;
    border: 1px solid #352480;
    border-radius: 18px;
    height: 30px;
    font-size: 12px;
    font-weight: 900;
    color: #352480;
    padding: 0 20px 0 20px;
    float: right;
    margin-left: 10px;
}


.rbc-toolbar-label {
    font-size: 24px;
    font-weight: 500px;
    color: #352480;
}

.rbc-month-header {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    height: 62.5px;
    width: 1108px;
    background-color: #f9f9f9;
}

.rbc-header {
    background-color: white;
}

.rbc-header span {
    color: #8a85a6;
    font-size: 16px;
    font-weight: 900;
    line-height: 62px;
    padding-left: 15px;
}

.rbc-row {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
    grid-gap: 1px;
    width: 1108px;
    height: 134px;
    background-color: #f9f9f9;
    margin: 1px;
}

.rbc-date-cell {
    position: relative;
    background-color: white;
}

.cell-number {
    color: #8a85a6;
    font-size: 16px;
    font-weight: 900px;
    padding: 19px 0 0 15px;
    position: absolute;
}