.Textbox {
  width: 100%;

  label {
    img {
      margin-right: 8px;
    }
  }

  input:not([readOnly]):not([disabled]):hover,
  input:not([readOnly]):not([disabled]):focus {
    border-color: #6647ff;
  }
  
  input[readOnly], input[disabled] {
    background-color: #fff;
    border-color: #cccccc;
  }

  :global(.invalid-feedback) {
    display: block;
    text-align: left;
  }
}

.hasError {
  :global(.form-control) {
    border-color: #dc3545;
  }
}

.hasSuccess {
  :global(.form-control) {
    border-color: #28a745;
  }
}
