.FlagCreator {
  border-radius: 4px;
  background-color: #fff;
  width: 500px;
  margin: calc(50vh - 256px) auto;

  .Stepper {
    position: relative;
    height: 54px;
    margin: 20px 45px 30px 45px;
    border-bottom: 3px solid #8a85a6;
    .Step1 {
      position: absolute;
      bottom: -15px;
      left: -15px;
    }
    .Step2 {
      position: absolute;
      bottom: -15px;
      left: 128px;
    }
    .Step3 {
      position: absolute;
      bottom: -15px;
      left: 263px;
    }
    .Step4 {
      position: absolute;
      bottom: -15px;
      right: -15px;
    }
  }

  .Body {
    padding-left: 30px;
    padding-right: 30px;
    display: flex;
  }
}
