.UserSelector {
  display: block;
  width: 100%;
  height: 280px;
  margin-top: 5px;
  padding-top: 20px;
  box-shadow: 0 10px 30px 0 rgba(0, 0, 0, 0.07);
  background-color: #ffffff;
  margin-bottom: 30px;
  &.Hidden {
    display: none;
  }
  .Search {
    position: relative;
    margin: 0 20px 20px 20px;
    > input {
      height: 40px;
      background-color: #f0eff6;
      border-radius: 4px;
      font-size: 14px;
      color: 8a85a6;
      font-family: Avenir;
      padding: 11px 32px 10px 32px;
      border: none;
      width: 100%;
    }
    > i {
      font-size: 12px;
      top: 14px;
      left: 12px;
      position: absolute;
      color: #8a85a6;
    }
  }
  .List {
    display: block;
    list-style: none;
    max-height: 180px;
    overflow-y: scroll;
  }
}

.User {
  height: 60px;
  padding: 10px 20px;
  position: relative;
  > img {
    width: 40px;
    height: 40px;
    border-radius: 20px;
  }
  &:hover {
    background-color: #fbfbfb;
  }
  > .Status {
    display: block;
    width: 10px;
    height: 10px;
    position: absolute;
    left: 50px;
    bottom: 12px;
    border: 2px solid #fff;
    border-radius: 5px;
    background-color: #ef4e4e;
    &.Active {
      background-color: #37d484;
    }
  }
}
