.content-container {
  height: 100%;
}

.FlagList {
  width: 100%;

  table {
    thead {
      tr {
        height: 54px;

        th {
          width: 12.5%;

          &:first-child {
            padding-left: 28px;
          }

          &:last-child {
            padding-right: 28px;
          }
        }
      }
    }

    tbody {
      tr {
        td {
          width: 12.5%;
          height: 50px;
          line-height: 50px;

          &:first-child {
            padding-left: 28px;
          }

          &:last-child {
            text-align: left;
          }

          > div {
            &.Priority {
              margin: 17px 0;
            }
          }
        }
      }
    }
  }
}
