label.error {
    position: absolute;
    background: #ee0101;
    background: rgba(238, 1, 1, 0.80);
    padding: 2px 5px;
    top: -15px;
    left: 15px;
    color: #fff;
    font-size: 11px;
    font-weight: normal;
    display: inline-block;
    box-shadow: 0 -1px 4px rgba(0, 0, 0, 0.6);
    z-index: 5;
}

label.error:before {
    content: "";
    border: 4px solid transparent;
    border-top: 4px solid #ee0101;
    border-top: 4px solid rgba(238, 1, 1, 0.80);
    position: absolute;
    bottom: -8px;
}

.login-form-container {
    height: 100%;
    width: 570px;
    display: inline;
    float: left;
}

.login-image-container {
    height: 100%;
    width: 500px;
    display: inline;
    float: left;
}

.inner-form-container {
    width: 420px;
    height: 100%;
    margin-left: 75px;
    margin-right: 75px;
}

.success-hub-title {
    width: 50%;
    margin: 80px auto;
}

.hub-brand, .success-brand {
    font-size: 25px;
    font-weight: bold;
}

.success-brand {
    color: #352480;
}

.hub-brand {
    color: #6647ff;
}

.input-group {
    height: 60px;
    width: 100%;
}

.input-group-addon {
    width: 60px;
    padding-left: 16px;
}

.login-btn {
    width: 100%;
    height: 70px;
}

.forgot-password-paragraph-div {
    text-align: center;
}

.forgot-password-paragraph-div p {
    display: inline;
}

.forgot-password-paragraph span {
    color: #6647ff;
    font-size: 16px;
}


.forgot-password-paragraph {
    color: #8b8b8b;
    font-weight: 900;
    text-align: center;
    font-size: 16px;
}

@import url(https://fonts.googleapis.com/css?family=Lato:400,300,300italic,400italic,700,700italic);

/* UNIVERSAL */

html,
body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    left: 0;
    top: 0;
    font-size: 100%;
}

/* ROOT FONT STYLES */
* {
    font-family: 'Lato', Helvetica, sans-serif;
}

.font-light {
    font-weight: 300;
}

.font-regular {
    font-weight: 400;
}

.font-heavy {
    font-weight: 700;
}

/* POSITIONING */

.left {
    text-align: left;
}

.center {
    text-align: center;
    margin-left: auto;
    margin-right: auto;
}

.justify {
    text-align: justify;
}

/* ==== GRID SYSTEM ==== */

.container {
    width: 98%;
    margin-left: auto;
    margin-right: auto;
}

.row {
    position: relative;
    width: 100%;
}

.row [class^="col"] {
    float: left;
    margin: 0.5rem 1.5%;
    min-height: 0.125rem;
}

.col-1,
.col-2,
.col-3,
.col-4,
.col-5,
.col-6,
.col-7,
.col-8,
.col-9,
.col-10,
.col-11,
.col-12 {
    width: 96%;
}

.col-1-sm {
    width: 4.33%;
}

.col-2-sm {
    width: 12.66%;
}

.col-3-sm {
    width: 21%;
}

.col-4-sm {
    width: 29.33%;
}

.col-5-sm {
    width: 37.66%;
}

.col-6-sm {
    width: 46%;
}

.col-7-sm {
    width: 54.33%;
}

.col-8-sm {
    width: 62.66%;
}

.col-9-sm {
    width: 71%;
}

.col-10-sm {
    width: 79.33%;
}

.col-11-sm {
    width: 87.66%;
}

.col-12-sm {
    width: 96%;
}

.row::after {
    content: "";
    display: table;
    clear: both;
}

.hidden-sm {
    display: none;
}

@media only screen and (min-width: 33.75em) {
    /* 540px */
    .container {
        width: 90%;
    }
}

@media only screen and (min-width: 45em) {
    /* 720px */
    .col-1 {
        width: 4.33%;
    }

    .col-2 {
        width: 12.66%;
    }

    .col-3 {
        width: 21%;
    }

    .col-4 {
        width: 29.33%;
    }

    .col-5 {
        width: 37.66%;
    }

    .col-6 {
        width: 46%;
    }

    .col-7 {
        width: 54.33%;
    }

    .col-8 {
        width: 62.66%;
    }

    .col-9 {
        width: 71%;
    }

    .col-10 {
        width: 79.33%;
    }

    .col-11 {
        width: 87.66%;
    }

    .col-12 {
        width: 96%;
    }

    .hidden-sm {
        display: block;
    }
}

@media only screen and (min-width: 60em) {
    /* 960px */
    .container {
        width: 98%;
        /*max-width: 60rem;*/
    }
}
style
body {
    background: #f9f9f9;
}

.text-center {
    text-align: center;
}

.contact-box {
    position: relative;
    width: 100%;
    height: 280px;
    margin-bottom: 18%;
    transition: all 150ms ease-in-out;
}

.contact-box:hover {
    box-shadow: 0 2px 20px rgba(119, 119, 119, 0.1);
}

.contact-box .content {
    padding: 20px;
    background: #fff;
    height: 70%;
}

.contact-box .content p.contact-name {
    font-size: 16px;
    font-weight: 600;
    color: #372681;
    margin-top: 10%;
}

.contact-box .content p.contact-position {
    font-size: 12.5px;
    font-weight: 500;
    color: #c0c0c0;
    line-height: .2;
}

.contact-box .content .avatar {
    display: block;
    vertical-align: middle;
    margin-top: 20px;
    margin-right: auto;
    margin-left: auto;
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.contact-box .footer {
    background: #fcfcfc;
    border-top: 1px solid #f0eff6;
    border-bottom: 2px solid #ededed;
}

.contact-box .footer .info p {
    color: #9e9ab5;
    font-size: .7rem;
    margin-bottom: 6px;
}

.contact-box .footer .info p:last-child {
    margin-bottom: 15px;
}

.contact-box .footer .info p i {
    color: #9e9ab5;
}

.btn {
    display: inline-block;
    font-weight: 400;
    text-align: center;
    white-space: nowrap;
    vertical-align: middle;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    border: 1px solid transparent;
    padding: .85rem 1.15rem;
    font-size: .8rem;
    line-height: 1.25;
    border-radius: .25rem;
}

.btn > i {
    color: #fff;
    font-size: .8rem;
}

a.btn {
    text-decoration: none;
}

.btn-sm {
    padding: .4rem .8rem;
}

.btn-round {
    border-radius: 25px;
}

.btn-outline {
    color: #5867dd;
    background: #fff;
    border: 1px solid #5867dd;
    transition: all 150ms ease-in-out;
}

.btn-outline:hover {
    color: #fff;
    background-color: #5867dd;
    cursor: pointer;
}

.btn-outline:hover > i {
    color: #fff;
    cursor: pointer;
}

.btn-outline > i {
    color: #5867dd;
}

.btn-primary {
    color: #fff;
    background-color: #5867dd;
}

.main {
    float: left;
    width: 80%;
}

.right {
    float: left;
    width: 20%;
}

.right::after, .right::before, .main::after, .mmain::before {
    clear: both;
}

.right-side {
    background: #fff;
    /*height: 800px;*/
    display: block;
    width: 100%;
}

.header {
    padding: 10px 15px;
    background-color: #f3f3f3;
    font-weight: bold;
    color: #908bab;
    font-size: .8em;
}

.checkbox-list, .notification-list {
    display: block;
    padding: 20px;
}

.alert {
    display: block;
    padding: 10px 20px;
    border-radius: 4px;
    margin-bottom: 10px;
}

.alert-danger {
    background-color: #efadad;
    color: #d24241 !important;
}

.alert-warning {
    background-color: #f4ebbe;
    color: #d1ab51 !important;
}

.alert-info {
    background-color: #d8e5fa;
    color: #628ad4;
}

.alert-success {
    background-color: #caecc6;
    color: #3a9c65;
}

.progress {
    height: 20px;
    margin-bottom: 20px;
    overflow: hidden;
    background-color: #f5f5f5;
    border-radius: 4px;
    -webkit-box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.1);
}

.progress {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#ebebeb), to(#f5f5f5));
    background-image: -webkit-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
    background-image: -moz-linear-gradient(top, #ebebeb 0, #f5f5f5 100%);
    background-image: linear-gradient(to bottom, #ebebeb 0, #f5f5f5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffebebeb', endColorstr='#fff5f5f5', GradientType=0);
}

.progress {
    height: 12px;
    background-color: #ebeef1;
    background-image: none;
    box-shadow: none;
}

.progress-bar {
    float: left;
    width: 0;
    height: 100%;
    font-size: 12px;
    line-height: 20px;
    color: #fff;
    text-align: center;
    background-color: #428bca;
    -webkit-box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    box-shadow: inset 0 -1px 0 rgba(0, 0, 0, 0.15);
    -webkit-transition: width .6s ease;
    transition: width .6s ease;
}

.progress-bar {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#428bca), to(#3071a9));
    background-image: -webkit-linear-gradient(top, #428bca 0, #3071a9 100%);
    background-image: -moz-linear-gradient(top, #428bca 0, #3071a9 100%);
    background-image: linear-gradient(to bottom, #428bca 0, #3071a9 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff428bca', endColorstr='#ff3071a9', GradientType=0);
}

.progress-bar {
    box-shadow: none;
    border-radius: 3px;
    background-color: #0090D9;
    background-image: none;
    -webkit-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -ms-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition: all 1000ms cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -webkit-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -moz-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -ms-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    -o-transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
    transition-timing-function: cubic-bezier(0.785, 0.135, 0.150, 0.860);
}

.progress-bar-success {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#5cb85c), to(#449d44));
    background-image: -webkit-linear-gradient(top, #5cb85c 0, #449d44 100%);
    background-image: -moz-linear-gradient(top, #5cb85c 0, #449d44 100%);
    background-image: linear-gradient(to bottom, #5cb85c 0, #449d44 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5cb85c', endColorstr='#ff449d44', GradientType=0);
}

.progress-bar-success {
    background-color: #0AA699;
    background-image: none;
}

.progress-bar-info {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#5bc0de), to(#31b0d5));
    background-image: -webkit-linear-gradient(top, #5bc0de 0, #31b0d5 100%);
    background-image: -moz-linear-gradient(top, #5bc0de 0, #31b0d5 100%);
    background-image: linear-gradient(to bottom, #5bc0de 0, #31b0d5 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ff5bc0de', endColorstr='#ff31b0d5', GradientType=0);
}

.progress-bar-info {
    background-color: #0090D9;
    background-image: none;
}

.progress-bar-warning {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#f0ad4e), to(#ec971f));
    background-image: -webkit-linear-gradient(top, #f0ad4e 0, #ec971f 100%);
    background-image: -moz-linear-gradient(top, #f0ad4e 0, #ec971f 100%);
    background-image: linear-gradient(to bottom, #f0ad4e 0, #ec971f 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#fff0ad4e', endColorstr='#ffec971f', GradientType=0);
}

.progress-bar-warning {
    background-color: #FDD01C;
    background-image: none;
}

.progress-bar-danger {
    background-image: -webkit-gradient(linear, left 0, left 100%, from(#d9534f), to(#c9302c));
    background-image: -webkit-linear-gradient(top, #d9534f 0, #c9302c 100%);
    background-image: -moz-linear-gradient(top, #d9534f 0, #c9302c 100%);
    background-image: linear-gradient(to bottom, #d9534f 0, #c9302c 100%);
    background-repeat: repeat-x;
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffd9534f', endColorstr='#ffc9302c', GradientType=0);
}

.progress-bar-danger {
    background-color: #F35958;
    background-image: none;
}

.customcheck {
    display: block;
    position: relative;
    padding-left: 30px;
    margin-bottom: 15px;
    cursor: pointer;
    font-size: 14px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.customcheck input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
}

.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 20px;
    width: 20px;
    background-color: #eee;
    border-radius: 3px;
}

.customcheck:hover input ~ .checkmark {
    background-color: #ccc;
}

.customcheck input:checked ~ .checkmark {
    background-color: #02cf32;
    border-radius: 3px;
}

.checkmark:after {
    content: "";
    position: absolute;
    display: none;
}

.customcheck input:checked ~ .checkmark:after {
    display: block;
}

.customcheck .checkmark:after {
    left: 6px;
    top: 3px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
}

.top-bar-welcome-text {
    font-weight: bold;
}

.top-bar-user-full-name {
    color: gray;
}

.top-bar-user-name {
    font-weight: bold;
}

.red-test {
    color: red;
}
