.ChatMessageSent-container {
  float: right;
  display: grid;
  grid-template-columns: 1fr 40px;
  width: 100%;
  margin: 10px 21px 10px 19px;
}

.ChatMessageSent-img {
  width: 30px;
  height: 30px;
  border-radius: 15px;
}

.ChatMessageSent-Background {
}

.ChatMessageSent-Background div {
  max-width: 480px;
  float: right;
  background-color: #6666ff;
  border-radius: 4px;
  padding: 10px 16px 12px 14px;
}

.ChatMessageSent-name {
  font-size: 14px;
  font-weight: 900;
  letter-spacing: 1px;
  color: #6647ff;
  margin-bottom: 4px;
}

.ChatMessageSent-message {
  font-size: 12px;
  font-weight: 500;
  letter-spacing: 0.4px;
  color: white;
}

.ChatMessageSent-timestamp {
  font-size: 10px;
  font-weight: 500;
  letter-spacing: 0.5px;
  color: #c8c5d6;
  float: right;
}
