.UserCheckbox {
  display: block;
  position: relative;
  padding-left: 50px;
  margin-top: 10px;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  font-size: 12px;
  font-weight: 500;
  font-style: normal;
  font-stretch: normal;
  line-height: 40px;
  letter-spacing: normal;
  color: #413d59;

  img {
    width: 40px;
    height: 40px;
    object-fit: cover;
    position: absolute;
    left: 0;
    border-radius: 50%;
  }

  input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
  }

  .checkmark {
    position: absolute;
    top: 0;
    right: 0;
    height: 25px;
    width: 25px;
    border-radius: 50%;
    background-color: transparent;
    border: 2px solid #8a85a6;
  }

  input:checked ~ .checkmark {
    background-color: #6647ff;
  }

  .checkmark:after {
    content: '';
    position: absolute;
    display: none;
  }

  input:checked ~ .checkmark:after {
    display: block;
  }

  .checkmark:after {
    left: 9px;
    top: 5px;
    width: 5px;
    height: 10px;
    border: solid white;
    border-width: 0 3px 3px 0;
    -webkit-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    transform: rotate(45deg);
  }
}

.UserCheckbox:hover input ~ .checkmark {
  background-color: #ccc;
}
