.VideoCall {
  :global(.ms-Dialog-main) {
    border-radius: 6px;

    :global(.ms-Modal-scrollableContent) {
      min-width: 800px;
      min-height: 500px;
    }
  }

  .Header {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    color: #413d59;
    padding: 19px 0px;
    background-color: #f0eff6;
    position: relative;

    > img {
      position: absolute;
      right: 24px;
      top: 26px;
      z-index: 10;
      cursor: pointer;
    }
  }
  :global(.card-body) {
    .flex-container {
      display: flex;
      border: 1px solid green;
      justify-content: space-between;
      padding: 5px;
      margin-top: 10px;
    }

    .flex-item {
      margin: 5px;
    }

    .flex-item:first-child {
      /* background-color: aqua; */
      flex: 2;
    }

    .flex-item:nth-child(2) {
      /* background-color: blueviolet; */
      flex: 1;
    }

    .flex-item:last-child {
      background-color: beige;
      flex: 1;
      flex-direction: column;
      overflow-y: scroll;
    }

    #remote-media video {
      width: inherit;
      height: 200px;
    }
  }
}
