.VideoCall {
  :global(.ms-Dialog-main) {
    border-radius: 6px;

    :global(.ms-Modal-scrollableContent) {
      min-width: 800px;
      min-height: 500px;
    }
  }

  .Header {
    text-align: center;
    font-size: 16px;
    font-weight: 900;
    color: #413d59;
    padding: 19px 0px;
    background-color: #f0eff6;
    position: relative;

    > img {
      position: absolute;
      right: 24px;
      top: 26px;
      z-index: 10;
      cursor: pointer;
    }
  }
  :global(.card-body) {
    .FlexContainer {
      position: relative;
    }

    .LocalMedia {
      position: absolute;
      right: 0;
      top: 0;
      video {
        width: 100px;
        height: 100px;
      }
    }

    .FlexItem {
      margin: 5px;
    }

    .FlexItem:first-child {
      /* background-color: aqua; */
      flex: 2;
    }

    .FlexItem:nth-child(2) {
      /* background-color: blueviolet; */
      flex: 1;
    }

    .FlexItem:last-child {
      background-color: beige;
      flex: 1;
      flex-direction: column;
      overflow-y: scroll;
    }

    .RemoteMedia video {
      width: 600px;
      height: 600px;
    }
  }
}
