.Popup {
  position: relative;
  border-radius: 8px;
  z-index: 999;

  .Header {
    font-family: Avenir !important;
    font-size: 16px;
    border-radius: 8px;
    background-color: #f0eff6;
    text-align: center;
    height: 60px;
    line-height: 60px;
    color: #413d59;
    font-weight: bold;
  }
  .Times {
    position: absolute;
    top: 22px;
    right: 34px;
    color: #8a85a6;
  }
}

.Overlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 1001;
  background-color: rgba(0, 0, 0, 0.75);
  overflow-y: auto;
}
