.PersonPicker {
  .Person {
    height: 60px;
    padding: 10px 20px;
    position: relative;

    > img {
      width: 40px;
      height: 40px;
      border-radius: 20px;
    }

    &:hover {
      background-color: #fbfbfb;
    }

    > .Status {
      display: block;
      width: 10px;
      height: 10px;
      position: absolute;
      left: 50px;
      bottom: 12px;
      border: 2px solid #fff;
      border-radius: 5px;
      background-color: #ef4e4e;

      &.Active {
        background-color: #37d484;
      }
    }

    > .FullName {
      margin-left: 8px;
    }
  }
}
