.top-bar-container {
  position: relative;
  // top: 0;
  height: 60px;
  line-height: 60px;
  width: 100%;
  box-shadow: 0 1px 0 0 #ebebeb;
  // z-index: 100;
  background-color: #fff;
  //overflow: hidden;
  z-index: 1000;
}

.top-bar-icon-link {
  position: fixed;
  height: 60px;
  width: 64px;
  top: 0;
  left: 0;
  box-shadow: 1px 0 0 0 #f0eff6;
}

.top-bar-icon {
  position: fixed;
  height: 32px;
  top: 14px;
  left: 20px;
}

.top-bar-welcome-container {
  margin: 0;
  font-size: 18px;
  position: fixed;
  left: 93px;
  line-height: 60px;
}

.top-bar-welcome-text {
  font-weight: 900;
  color: #2c2745;
}

.top-bar-user-full-name {
  font-size: 18px;
  color: #8a85a6;
}

.top-bar-comment {
  height: 18px;
  float: right;
  margin: 21px 30.9px 21px 17px;
}

.top-bar-bell {
  height: 16.7px;
  float: right;
  margin: 21px 17px 20.7px 0;
  cursor: pointer;
}

.top-bar-avatar-sm {
  border-radius: 50%;
  height: 36px;
  width: 36px;
  float: right;
  margin: 12px 0;
}

.top-bar-username {
  float: right;
  margin: 0 16px;
}

.top-bar-chevron-down {
  width: 8px;
  height: 5.2px;
  float: right;
  margin: 30px 27px 0 0;
}

.UserInfo {
  position: relative;

  .Menu {
    list-style: none;
    position: absolute;
    top: 60px;
    right: 0;
    width: 200px;
    padding: 20px;
    background-color: #fff;
    border: 1px solid #f0eff6;
    display: block;
    z-index: 1000;

    &.Hidden {
      display: none;
    }

    li {
      a {
        display: block;
        color: #8a85a6;
        height: 30px;
        line-height: 30px;
      }
    }
  }
}

@media only screen and (min-width: 1200px) {
  .mobile {
    display: none;
  }
}

@media only screen and (min-width: 768px) and (max-width: 1199px) {
  .mobile {
    display: none;
  }
}

@media only screen and (max-width: 767px) {
  .desktop {
    display: none;
  }

  .mobile {
    display: block;
    cursor: pointer;
  }

  .UserInfo {
    display: none;
  }

  .top-bar-icon-link {
    box-shadow: none;
  }

  .NavbarMenuBtn {
    background-color: #fff;
    margin: 18px;

    div {
      height: 4px;
      margin-bottom: 6px;
      background-color: #8a85a6;
      border-radius: 4px;
    }

    .Line1 {
      width: 27px;
    }

    .Line2 {
      width: 14px;
    }

    .Line3 {
      width: 20px;
    }
  }
}
