.flag-details-container {
  width: 100%;
  height: 100vh;
  border: 1px solid #000;
}

.flag-details-info {
  width: 574px;
  box-sizing: border-box;
  padding: 35px 49px 26px 37px;
  border: 1px solid blue;
}

.info-group {
  width: 50%;
  display: inline-block;
  border: 1px solid #000;
  margin-bottom: 29px;
}

.info-group-full {
  width: 100%;
  border: 1px solid #000;
  margin-bottom: 29px;
}

.info-label {
  font-size: 12px;
  font-weight: 900;
  color: #413d59;
  margin-bottom: 9px;
}

.info-detail {
  font-size: 16px;
  font-weight: 500;
  color: #8a85a6;
}
