.tab-container {
    position: absolute;
    height: 74px;
    left: 230px;
    width: 944px;
    top: 467px;
    background-color: #ffffff;
    padding: 30px 0 0 33px;
}

.tab-container-no-info {
    position: absolute;
    height: 74px;
    left: 230px;
    right: 266px;
    top: 142px;
    background-color: #ffffff;
    padding: 30px 0 0 33px;
}

.tab-container p {
    display: inline;
}

.milestone-tab {
    width: 70px;
    display: inline;
    font-size: 16px;
    font-weight: 900;
    padding: 30px 23px 18px 23px;
    border-bottom: 3px solid #6647ff;
}

.degreeAudit-tab {
    width: 148px;
    display: inline;
    font-size: 16px;
    font-weight: 900;
    padding: 30px 23px 18px 23px;
}

.milestone-tab a, .degreeAudit-tab a {
    color: #544c7f;
}

a:hover {
    text-decoration: none;
}

.spacer {
    display: inline;
}
