.tab-container {
    position: absolute;
    height: 74px;
    left: 230px;
    right: 266px;
    top: 467px;
}

.tab-container p {
    display: inline;
}

.milestone-tab {
    width: 70px;
    display: inline;
    font-size: 16px;
    font-weight: 900;
    color: #6647ff;
    padding: 30px 23px 18px 23px;
    border-bottom: 3px solid #6647ff;
}

.degreeAudit-tab {
    width: 148px;
    display: inline;
    font-size: 16px;
    font-weight: 900;
    color: #533c7f;
    padding: 30px 23px 18px 23px;
}

.spacer {
    display: inline;
}