.pending-flags-container {
  > div {
    &:first-child {
      display: flex;
      justify-content: space-between;

      h3 {
        font-size: 18px;
        font-weight: 900;
        color: #544c7f;
        margin-bottom: 20px;
      }
    }
  }
}

.pending-flags {
  display: flex;
  justify-content: space-between;
  margin-bottom: 32px;
  height: 112px;
  transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);

  > section {
    height: 112px;
    transition: all 1s cubic-bezier(0.075, 0.82, 0.165, 1);
  }

  &.hidden {
    overflow: hidden;
    height: 0;

    > section {
      height: 0;
    }
  }
}

.pending-two-flag {
  justify-content: start;
  margin-right: 50px;

  > section {
    &:first-child {
      margin-right: 50px;
    }
  }
}

.btn-outline {
  width: 120px;
  height: 32px;
  line-height: 30px;
  display: inline-block;
  border: 1px solid #6647ff;
  border-radius: 5px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 12px;
  font-weight: 500;
  color: #6647ff;
  cursor: pointer;
}
